<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Theme\Block\Html\Topmenu">
        <plugin name="catalogTopmenu" type="Magento\Catalog\Plugin\Block\Topmenu" disabled="true"/>
        <plugin name="customCatalogTopmenu" type="SergiiBuinii\CategoryWidget\Plugin\Block\Topmenu"/>
    </type>
</config>
